* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* header styling */

header {
  height: 100vh;
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0, 0, 0, 0.911)),url(https://images.unsplash.com/photo-1547127796-06bb04e4b315?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  
  
}

.navbar-brand, .nav-link {
  color: whitesmoke;
  font-size: 25px;
}





.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.intro-text {
  text-transform: uppercase;
  font-size: 60px;
  letter-spacing: 10px;
  color: whitesmoke;
}

h2, h3 {
  text-align: center;
  color: whitesmoke;
}



h1 {
  animation-name: moveInUp;
  animation-duration: 3s;
}

h2 {
  animation-name: moveInDown;
  animation-duration: 3s;
}

h3 {
  animation-name: moveInRight;
  animation-duration: 3s;
}

.about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  
  width: 600px;
  height: 500px;
  border-radius: 25px;
  box-shadow: 34px 24px 6px 0px rgba(0,0,0,0.66);
  -webkit-box-shadow: 34px 24px 6px 0px rgba(0,0,0,0.66);
  -moz-box-shadow: 34px 24px 6px 0px rgba(0,0,0,0.66);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);

  }



  100% {
    opacity: 1;
    transform: translate(0);

  }
  
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(100px)
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}


@media screen and (max-width:600px){ 
  
  .intro-text {
    font-size: 28px;
    letter-spacing: 3px;
    
  }
  
}

@media screen and (min-width:600px){ 
  
  .intro-text {
    font-size: 35px;
    letter-spacing: 3px;
  }
  
}

@media only screen and (min-width: 768px) {
  .intro-text {
    font-size: 42px;
    letter-spacing: 3px;
  }
}


@media only screen and (min-width: 992px) {
  .intro-text {
    font-size: 60px;
    letter-spacing: 3px;
  }
}




