* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header styling */

header {
  height: 100vh;
  background-image: url(https://media.istockphoto.com/id/1018955990/photo/blue-vintage-color-trends-feather-pattern-texture-background.jpg?s=170667a&w=0&k=20&c=yr5wd6Gauw4qkWpUWI171KZoDcPIXha2gPpWmUkpFPQ=);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  
}

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.intro-text {
  text-transform: uppercase;
  font-size: 60px;
  letter-spacing: 10px;
}

h2, h3 {
  text-align: center;
}